header::after {
    content:"";
    border:1px solid darkmagenta;
    width:100%;
    display: block;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.dropdown-menu {
    top: 3.9em;
    border-radius: 3px;
    border-top: 3px solid darkmagenta;
}
.site-footer .copy {
    border-top: 3px solid darkmagenta;
    margin: 5px auto;
}